# Visual Studio
.vs/
*.user
*.suo
*.cache
*.log
*.ncb
*.pdb
*.dbmdl
*.DS_Store
*.vspscc
*.vssscc
*.swp
*.tmp

# Build outputs
bin/
obj/
out/
dist/
build/
Release/
Debug/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Environment files
.env
.env.*
*.local.json

# IDEs and editors
.idea/
*.iml
*.code-workspace

# Packages
/packages/

# Merge conflict files
*.orig

# Others
*.sublime-workspace
*.sublime-project
*.vscode/