.vs/
bin/
obj/
*.user
*.suo
*.cache
*.log
*.ncb
*.pdb
*.dbmdl
*.DS_Store
*.vspscc
*.vssscc
*.swp
*.tmp
node_modules/
out/
dist/
.env
.env.*
/packages/
*.local.json
*.code-workspace
.idea/
*.iml
*.orig